<!DOCTYPE html>
<html>

<head>
	<title>Maratona News</title>
  <!-- AQUI IMPORTO UM ESTILO CSS -->
  <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet"></link>
</head>

<body>
  <!-- APÓS VER ESSE BLOCO DE CÓDIGO PODE APAGAR, SÓ PRA TE MOSTRA UM EXEMPLO DE HTML QUE USA OS ESTILOS DO CSS (PRA FICAR BONITINHO OS RESULTADOS ;) )-->
  
  <header>
    <h1>{{resultados.title}}</h1>
    <div>
      Pontos, autor, url
    </div>
  </header>
  
  <main>
    <!-- BLOCO DE CODIGO EXEMPLO DE 1 COMENTÁRIO -->
    {% for resultado in resultados.children %}
      <div>          
        <h3>{{resultado.author}}</h3>
        <p>{{resultado.text | safe}}</p>
      </div>
      <hr />
        {% endfor %}
     <!-- ACABA HTML ESTUTURA DE UM COMENTÁRIO -->

    
  
   
  </main>

</body>
</html>